body{
  font-family: "LeeSeoyun";
  background-image: url(./img/background.png);
	display: flex;
	justify-content: center;
}

.container{
  width: 390px;
  height: 100%;
  background-color: #ff9d73;
}

.photos{
  margin-top: 30px;
}

.photo-frame{
  background-color: white;
  height: 200px;
  margin: 15px 20px;
  background-size: cover;
  position: relative;
  cursor: pointer; //마우스가 사진 위로 올라가면 포인터 아이콘으로 바뀌도록
}


.footer{
  display: flex;
  align-items: center;
	flex-direction: column;
}
.f-title{
 color: white;
 font-size: 25px;
 font-weight: 900;
}
.f-date{
  color: white;
  font-size: 20px;
  font-weight: 500;
}

#imge1{
  background-image: url(./img/img1.jpg);
  background-size: cover;
}

#imge2{
  background-image: url(./img/img2.jpg);
}

#imge3{
  background-image: url(./img/img3.jpg);
}

#imge4{
  background-image: url(./img/img4.jpg);
}

.photo-description{
  color: white;
  background-color:black;
  padding: 0px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
  left: 50%;
	opacity: 0; //초반에 페이지 열릴 때 기본으로 안보이게 하기 위한 설정이에요
}

.movie{
  height: 100%;
  width: 100%;
}

/* opacity : 투명도를 의미해요! 0% 투명하다. 즉 다 보인다. */
.showText {
	opacity: 0;
}

/* opacity : 투명도를 의미해요! 100% 투명하다. 즉 안보인다. */
/* transition : 나타날 때 0.5초동안 천천히 나타나는 효과를 주라는 의미에요 */
.hideText {
	opacity: 1;
  transition: opacity 0.5s linear;
}